name: Build SharpMad

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.0.x'

    - name: Restore dependencies
      run: dotnet restore Sharpmad/Sharpmad.sln

    - name: Build project
      run: dotnet build Sharpmad/Sharpmad.sln --configuration Release

    - name: Upload SharpMad.exe
      uses: actions/upload-artifact@v3
      with:
        name: SharpMad
        path: Sharpmad/Sharpmad/bin/Release/net7.0/Sharpmad.exe
