name: Build SharpMad

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Build
      run: msbuild Sharpmad.sln /p:Configuration=Release

    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: SharpMad
        path: Sharpmad\\bin\\Release\\SharpMad.exe
